.LoginPage {
    background-color: rgb(152, 230, 255);
    background-image: url('https://t3.ftcdn.net/jpg/05/72/88/02/360_F_572880207_7lN2ddyZTwfm5aMGRztAdI1f4ScsPjoX.jpg');
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
